{% extends "base.html.twig" %}
{% block stylesheets %}
    <style>
        body{

            background : url('https://s-media-cache-ak0.pinimg.com/originals/8c/4c/ae/8c4caed8bcddb0b173c7cecdb1cb24c8.jpg');
            background-size: cover;
        }
        .nav-extended{
            position: fixed;
        }
        .loginform{
          margin-top: 70px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="row loginform">

        <div class="col s12 m6 offset-m3 l4 offset-l4 card-panel ">
            <h4 class="center-align">Inscription</h4>
            <hr>
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.password.first) }}
            {{ form_row(form.password.second) }}


            <button class="btn waves-effect waves-light right submitbtn" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
            <br>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}