{% extends '::base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    {{ form_row(form.image) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.description) }}
    {{ form_row(form.temps) }}
    {{ form_row(form.difficulte) }}

    <h3>Ingrédients</h3>
    <ul class="ingredients" data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}">
        {% for ingredient in form.ingredients %}
            <li>{{ form_row(ingredient.nom) }} {{ form_row(ingredient.quantite) }}</li>
        {% endfor %}
    </ul>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascript/recetteCollection.js') }}"></script>
{% endblock %}