{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recette</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ recette.nom }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ recette.photo }}</td>
            </tr>
            <tr>
                <th>Ingredient</th>
                <td>{{ recette.ingredient }}</td>
            </tr>
            <tr>
                <th>Personne</th>
                <td>{{ recette.personne }}</td>
            </tr>
            <tr>
                <th>Temps</th>
                <td>{% if recette.temps %}{{ recette.temps|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Preparation</th>
                <td>{{ recette.preparation }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}
