{% extends 'base.html.twig' %}

{% block body %}
    <h1>Recettes list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>Name</th>
                <th>Description</th>
                <th>Createur</th>
                <th>Cooking_time</th>
                <th>Price</th>
                <th>Difficulty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td><a href="{{ path('recette_show', { 'id': recette.id }) }}">{{ recette.id }}</a></td>
                <td>{{ recette.picture }}</td>
                <td>{{ recette.name }}</td>
                <td>{{ recette.description }}</td>
                <td>{{ recette.createur }}</td>
                <td>{{ recette.cookingtime }}</td>
                <td>{{ recette.price }}</td>
                <td>{{ recette.difficulty }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('recette_show', { 'id': recette.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('recette_edit', { 'id': recette.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recette_new') }}">Create a new recette</a>
        </li>
    </ul>
{% endblock %}
