{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Recipes list</h1>


        {% for recipe in recipes %}

            <div class="col-xs-18 col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{ asset('images/recipes/'~ recipe.image.name) }}" alt="{{ recipe.name }}">

                    <div class="caption">
                        <h4>{{ recipe.name }} by {{ recipe.wildChef }} </h4>
                        <p>{{ recipe.instructions }}</p>
                        <p><a href="{{ path('recipes_show', { 'id': recipe.id }) }}" class="btn btn-info btn-xs" role="button">Voir</a> <a href="{{ path('recipes_edit', { 'id': recipe.id }) }}" class="btn btn-default btn-xs" role="button">Editer</a></p>
                        <table>
                            <thead>
                            <tr>
                                <th>Difficulty</th>
                                <th>Type</th>
                            </tr>
                            </thead>
                            <tbody>
                                <td>{{ recipe.difficulty }}</td>
                                <td>{{ recipe.type }}</td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>



        {% endfor %}


    <ul>
        <li>
            <a href="{{ path('recipes_new') }}">Create a new entry</a>
        </li>
    </ul>
    </div>
{% endblock %}
