{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
    <h1>{{ recipe.name }} by {{ recipe.wildChef }}</h1>
        <img src="{{ asset('images/recipes/'~ recipe.image.name) }}" alt="{{ recipe.name }}">

        <h2>Instructions</h2>
       <p>
           {{ recipe.instructions }}
       </p>

       <table>

           {% for ingredient in ingredients %}
               <tr><th>{{ ingredient.name }}</th><td> afficher quantité depuis recipes</td></tr>

               {% endfor %}
           <tr>
                <th>Preparation time</th>
                <td>{% if recipe.preparationTime %}{{ recipe.preparationTime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Cooking time</th>
                <td>{% if recipe.cookingTime %}{{ recipe.cookingTime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Difficulty</th>
                <td>{{ recipe.difficulty }}</td>
            </tr>
            <tr>
                <th>For:</th>
                <td>{{ recipe.fedNumber }} persons</td>
            </tr>

            <tr>
                <th>Type</th>
                <td>{{ recipe.type }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ recipe.keyWords }}</td>
            </tr>
    </table>

    <ul>
        <li>
            <a href="{{ path('recipes_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recipes_edit', { 'id': recipe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
