{% extends 'MarmiwildBundle:Default:index.html.twig' %}

{% block body %}

    <h1>Ajouter une nouvelle recette</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}

    {{ form_row(form.ingredient) }}

    {{ form_row(form.temps) }}

    {{ form_row(form.personne) }}


    <button class="btn waves-effect waves-light subbtn" type="submit" name="action">Ajouter votre plat
        <i class="material-icons right">done</i>
    </button>

    {{ form_end(form) }}

{% endblock %}